
###> symfony/framework-bundle ###
/.env.local
/.env.deploy
/.env.dev
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/uploads/
###< symfony/framework-bundle ###
